# Title: KADfake Hosts
# Description: Filtry blokujace pseudonauke, dezinformacje, nieprawdziwe informacje i kontrowersyjne strony. Satyra i kwestie polityczne nie stanowia glownego celu listy.
# Last modified: @modified
# Version: @version
# Expires: 2 days
# Website: https://kadantiscam.netlify.com/
# Repository: https://github.com/PolishFiltersTeam/KADhosts
# Based on: https://github.com/PolishFiltersTeam/KAD
# License: CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0/)
# Uzywanie tej listy jest jednoznaczne ze swiadomoscia co do jej zawartosci, a tworcy nie ponosza odpowiedzialnosci za jakiekolwiek posrednie, bezposrednie, karne, specjalne, przypadkowe lub wynikowe szkody. Pobierajac, przegladajac albo korzystajac z KADfake Hosts, akceptujesz te warunki i licencje.
#
# Zrodla:
# http://fakenews.pl/
# https://www.totylkoteoria.pl/
# https://demagog.org.pl
# https://sprawdzam.afp.com
#
#
#
@COMBINEHOSTSinclude hostsplus_kontrowersje https://raw.githubusercontent.com/PolishFiltersTeam/KAD/master/sections/pseudonauka_fake_news.txt
