name: "Generate offline list"

on:
  workflow_dispatch: null

jobs:
  offline:
    runs-on: ubuntu-latest
    container: ghcr.io/filtersheroes/expired_domains_image:latest
    steps:
      - uses: actions/checkout@v6
      - run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          python3 ./scripts/IsOnline.py
      - uses: actions/upload-artifact@v6
        with:
          name: E_KADh_offline
          path: exclusions/offline.txt
